/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}




a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0px;
    font-size: 22px;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.bold {
    font-size: 18px;
    font-weight: bold;
}

.neutral-star {
    color: var(--main-bg-color)
}


.a-show-more {
    max-width: 110px;


}

.show-more {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}



/* NAV */


button {
    border-style: none;
    background-color: transparent;
}

.entete {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.navlogo {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    width: 61.09px;

}

.menu {

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 68px;



}

.menuhover {
    text-decoration: overline;
    text-decoration-color: transparent;
    padding-top: 13px;
    border-top: 2px transparent solid;
    font-size: 16px;
}

.menuhover:hover {
    text-decoration: overline;
    text-decoration-color: transparent;
    padding-top: 13px;
    border-top: 2px #0065FC solid;
    color: #0065FC;
}

/*main body*/
.mainbody {
    display: flex;
    flex-direction: column;
    gap: 30px;

}


/* Header */

h1 {
    font-size: 22px;
    margin-top: 0;
}

.titreEntete {
    max-height: 53px;
    line-height: 1;
}

.search {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
    width: fit-content;
    max-width: 377px;


}

.fa-location-dot {
    padding: 12px;
    color: black;
    margin: 0px 7.5px;
    background-color: #F2F2F2;
    font-size: 18px;


}

.search input {
    font-size: 18px;
    font-weight: bold;
    padding: 14px;
    border: 1px solid #F2F2F2;
    outline: none;
    text-align: center;
    max-width: 200px;
    height: 49px;

}


.searchbutton {
    background-color: #0065FC;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 14px 16px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.headerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 0;
    margin: 0;

}

.searchbuttonmobile {
    display: none;
}

.buttonfilter a {
    display: flex;
}

.buttonfilter {

    display: flex;
    align-items: center;
    list-style: none;

}

.buttonfilter button {
    display: flex;
    gap: 7px;
    text-align: center;
    border: 2px #D9D9D9 solid;
    padding: 8px 19px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    align-items: center;
}

.buttonfilter button i {
    font-size: 20px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.divsubmit {
    display: flex;
    gap: 15px;
}


.buttonfilter p {
    margin-right: 15px;
}

.buttonfilter button:hover {
    background-color: #DEEBFF;
}

.buttonfilter button:active {
    transform: scale(0.97);
}

.infomain {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    max-height: 30px;
}

.info {
    width: 22px;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.info i {
    font-size: 12px;
    line-height: 1;
}

.info p {
    display: flex;
    margin: 0;

}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 614px;

}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
    gap: 30px;
}


.hebergements a .a-cards {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 30%;
}


.hebergements-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;


}

.card-txt {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    transform: scale(1.04);
}

.card-image {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards a {
    display: inline-flex;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 198px;
    width: 240px;

}

.hebergements .card-content {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-content: flex-start;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-top: -4px;
    font-size: 18px;
    letter-spacing: -1px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;

}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    letter-spacing: -1.5px;
}

/***** Activity in Marseille *****/
.activitemarseille {
    margin-left: 30px;
}

.activitemarseille h2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.activity {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;


}

.activity a {
    display: flex;
    flex-direction: column;
}

.activity .card {
    padding: 0;
    height: 439px;
    gap: 4px;
    overflow: hidden;
    flex-direction: column;
}

.activity img {
    display: flex;
    object-fit: cover;
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity .card-title {
    margin-left: 19px;
}

/** footer **/

footer {
    background-color: #F2F2F2;
}

footer .footersection {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;

}

footer .footersection h4 {
    font-size: 18px;
}

.footer-column {
    width: 100%;
    margin-left: 20px;
    margin-top: -3px;
}


footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
    gap: 15px;
    margin-top: -9px;
}



/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/*filtres*/

.buttonfilter {flex-direction: column;
align-items: flex-start;}

/*hebergement*/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        max-height: 611.5px;
    }

    .hebergements-cards .card {
        width: 258px;
    }


    .hebergements {
        width: 100%;
    }
/*populaire*/
    .populaires {
        width: 100%;
        margin-top: 50px;
        height: 252px;
    }



    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-top: 20px;

    }

    .populaires-cards a {
        width: 100%;
        display: block;
    }

    .populaires-cards .card {
        display: flex;
        height: 136px;
margin-top: 0;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }
    .populaires-cards img {
           width: 35%;           
        height: 136px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .populaires-cards .card-content {
        width: 65%;           
        padding-left: 15px;
    }

    /*activity marseille */
    .activitemarseille .card {

        max-width: 193.5px;
        max-height: 270px;
    }

    .activity .card {
        gap: 0;
    }

    .activity .card-content {
        height: 70px;
        align-content: center;
    }

    .activity img {
        height: 200px;
        width: 193.5px;
    }

    .activity .card-title {
        font-size: 16px;
    }
}




/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /* NAVIGATION MOBILE */
    .mainbody {
        gap: 0px;
    }

    .main-container {
        width: 100%;
        max-width: 100%;
        padding: 0;

    }

    /*nav*/
    .entete {
        flex-direction: column;
        align-items: center;
    }

    .navlogo {
        margin: 30px 0 20px;
    }

    .menu {
        width: 100%;
        justify-content: space-around;
        gap: 0;

    }

    .menuhover {
        width: 50%;
        text-align: center;
        padding-bottom: 15px;
        border-top: none;
        border-bottom: 2px solid #f2f2f2;
    }

    .menuhover:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;    
        padding-bottom: 15px;
    }

    /* header */
    .sectionmobile {
        margin-left: 20px;
        margin-right: 20px;
    }

    header h1 {
        text-align: left;
        text-wrap: inherit;
    }

    section .search {
        max-width: 45%;
        overflow: visible;
        margin-top: 35px;
        max-height: 49px;
    }

    section .search .searchbutton {
        display: none;

    }

    section .search .searchbuttonmobile {
        display: flex;
        visibility: visible;
        position: relative;
        left: -12px;
        background-color: #0065FC;
        font-size: 18px;
        font-weight: bold;
        color: white;
        padding: 15.5px 15.5px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow: visible;
z-index: 2;
        cursor: pointer;
    }

    section .search .searchbuttonmobile i {
        color: white;
        font-size: 18px;
    }

    .search input {
        max-width: 244px;
        position: relative;
        z-index: 1;
        max-height: 49px;

    }



    /*Button filters*/
    .divsubmit {
        flex-wrap: wrap;
    }

    .buttonfilter {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttonfilter button {
        text-align: center;
        border: 2px #D9D9D9 solid;
        padding: 8px 17.5px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 14px;
        width: 46%;
    }

    .info {
        width: 30px;
        height: 22px;
    }

    /*Hebergement*/
    .hebergements-cards {
        gap: 15px;
    }



    .hebergements-and-populaires section {
        max-height: 100%;
        border-radius: 0px;
        padding: 20px 20px 30px 20px;
        gap: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .hebergements-cards .card-title {
        font-size: 16px;
    }

    .hebergements-and-populaires .hebergements {
        border-radius: 0px;
        background-color: inherit;
        margin-top: -10px;
    }

    .hebergements-cards .card {

        height: 197px;
    }

    /*populaire*/
    .populaires {
        flex-direction: column;
        height: 100%;
    }

    .populaires-title {
        margin-top: 10px
    }

    .populaires-cards .card {
        display: flex;
        width: 325px;
        height: 146px;
        margin-top: 0;
    }

    .populaires-cards .card-content {
        width: 55%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .populaires-cards img {
        height: 146px;
        width: 111.67px;
    }


    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards .card-rating {
        margin-bottom: 0;
    }

    /*hebergement*/
    .hebergements a {

        width: 100%;
    }

    /*activite*/
    .activity {

        flex-direction: column;
        max-width: 315px;
        gap: 15px;
    }

    .activitemarseille h2 {
        font-size: 22px;
    }

    .activitemarseille .card {
        max-width: 100%;
        max-height: 200px;
    }

    .activity img {
        height: 141px;
        width: 315px;
    }

    /*footer*/
    footer .footersection {
        display: flex;
        flex-direction: column;
    }

    footer ul {
        margin-top: -7px;
    }

    .footer-column {
        margin-top: 0;
    }

}